:root {
    --color-heading: #232222;
    --color-text: #555555;
    --color-primary: #55C875;
    --color-secondary: #EEE;
}

* {
    box-sizing: border-box;
}

html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    margin: 3rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}


h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h1,
h2,
h3 {
    margin: 1rem 0;
}

/* icons */
.icon-container {
    height: 3rem;
    width: 3rem;
    display: inline-flex;
    background-color: var(--color-secondary);
    border-radius: 1px;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 2.3rem;
    width: 2.3rem;
}

/* button */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 2px;
    padding: 1.5rem 2rem;
    border: 0;
    transition: background-color 0.3s;
}

.btn--primary {
    background-color: var(--color-primary);
}

.btn--primary:hover {
    background-color: #1cba49;
}

.btn--secondary {
    background-color: var(--color-secondary);
}

.btn--secondary:hover {
    background-color: #c4c7c6;
}

.btn--icon {
    margin-right: 0.5rem;
}

/* navbar */
.grid {
    display: grid;
}

.navbar {
    border-bottom: 2px solid #b1b0b044;
    padding: 1rem 2rem;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand__logo {
    margin-right: 1rem;
    height: 3rem;
    width: 3rem;
    fill: var(--color-primary);
}

.brand__name {
    font-size: 2rem;
    font-weight: 600;
}

.navbar-btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon--filter {
    height: 4.3rem;
    margin-right: 1rem;
    cursor: pointer;
}

.icon--filter:hover {
    background-color: #ddd;
}

.btn--new-task {
    padding: 1rem 1.6rem;
}

@media screen and (min-width: 768px) {
    .grid-1x2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .brand {
        justify-content: flex-start;
    }

    .navbar-btn-group {
        justify-content: flex-end;
    }
}

.profile {
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.email {
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-text);
}

/* Task Creationg */
.task--creator {}

.form--task {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
}

.label--new-task {
    font-weight: 600;
    color: var(--color-heading);
}

.fieldset--task {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
}

.input {
    border: 0px;
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    font-family: inherit;
    color: var(--color-heading);
    font-weight: 600;
    resize: none;
}

.btn--actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
}

.btn--close {}