<div class="left-sidebar">
    <div class="profile">
        <img src="images/avatar.png" alt="" class="avatar">
        <h3 class="name">Lorem Ipsum</h3>
        <span class="email">Loremipsum@gmail.com</span>
    </div>

    <div class="task--creator">
        <h3 class="label--new-task">New Task</h3>
        <form class="form--task">
            <fieldset class="fieldset--task">
                <legend><label for="task-title" class="label--legend">Task Title</label></legend>
                <input type="text" name="" id="task-title" class="input">
            </fieldset>

            <fieldset class="fieldset--task">
                <legend><label for="due-date" class="label--legend">Due Data</label></legend>
                <input type="date" name="" id="due-date" class="input">
            </fieldset>

            <fieldset class="fieldset--task">
                <legend><label for="description" class="label--legend">Description</label></legend>
                <textarea name="" cols="40" id="" placeholder="Type here..." class="input"></textarea>
            </fieldset>
            <div class="btn--actions">
                <button class="btn btn--secondary btn--close" type="submit">Close</button>
                <button class="btn btn--primary btn--create" type="submit">Create</button>
            </div>
        </form>
    </div>

</div>