<nav class="navbar grid grid-1x2">
    <div class="brand">
        <svg class="icon brand__logo">
            <use xlink:href="images/sprite.svg#logo"></use>
        </svg>
        <span class="brand__name">To do</span>
    </div>

    <div class="navbar-btn-group">
        <span class="icon-container icon--filter">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#filter"></use>
            </svg>
        </span>
        <button class="btn btn--primary btn--new-task" type="submit">
            <svg class="icon btn--icon">
                <use xlink:href="images/sprite.svg#add"></use>
            </svg>
            <span>New Task</span>
        </button>
    </div>
</nav>